@model MovieCatalogueApp.Models.PersonRole

@{
    ViewBag.Title = "InsertNewRole";
}

<h1>Insert</h1>

<h4>Role for @Model.Person.Name @Model.Person.Surname</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("InsertNewRole", "People"))
        {
            <div class="form-group">
                @Html.DropDownListFor(m => m.RoleId,
                                        new SelectList(Model.Roles, "Id", "Name"),
                                        new { @class = "form-control"})
                @Html.HiddenFor(m => m.PersonId)
            </div>

            <div class="form-group">
                <input type="submit" value="Insert" class="btn btn-primary"/>
            </div>
        }
    </div>
</div>

<div>
    <a href=/People/Details/@Model.PersonId>Back to Details</a>
</div>

