@model MovieCatalogueApp.Models.MoviePerson

@{
    ViewData["Title"] = "InsertNewPerson";
}

<h1>Insert</h1>

<h4>Cast & Crew for @Model.Movie.Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("InsertNewPerson", "Movies"))
        {
            <div class="form-group">
                @Html.DropDownListFor(person => person.PersonId,
                                        new SelectList(Model.People, "Id", "Name"),
                                        new { @class = "form-control"})
                @Html.HiddenFor(movie => movie.MovieId)
            </div>

            <div class="form-group">
                <input type="submit" value="Insert" class="btn btn-primary"/>
            </div>
        }
    </div>
</div>

<div>
    <a href=/Movies/Details/@Model.MovieId>Back to Details</a>
</div>
